* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #2A7AE4;
  --blackLighter: #9E9E9E;
  --black: #000000;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
} 

#root {
  /* Faz o root ficar com a altura ocupando 100% da tela*/
  display: flex;
  flex-direction: column;
  /* Aqui, há 100% de altura - o padding do topo - o vh é o view height*/
  min-height: calc(100vh - var(--bodyPaddingTop)); 
}